BYBIT_BASE_URL=https://api.bybit.com
QSIGNAL_APP_URL=https://qsignal.xyz
QSIGNAL_LEDGER_ADDRESS=0x0000000c5c652995bdcAe8e78902414A00AF8983
QSIGNAL_MANTLE_RPC_URL=https://rpc.mantle.xyz
PK_MANTLE_QSIGNAL=
QSIGNAL_TELEGRAM_BOT_TOKEN=
QSIGNAL_TELEGRAM_CHAT_ID=@qsignal_xyz
QSIGNAL_DISCORD_WEBHOOK_URL=
